body{
    margin:0;
    background:#0f172a;
    color:white;
    font-family:Arial;
}

.container{
    padding:15px;
    padding-bottom:100px;
}

.product{
    background:#1e293b;
    border-radius:15px;
    overflow:hidden;
    margin-bottom:20px;
}

.product img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.info{
    padding:15px;
}

.price{
    color:#22c55e;
    font-size:20px;
    margin-top:5px;
}

.controls{
    display:flex;
    align-items:center;
    gap:10px;
    margin-top:15px;
}

.controls button{
    width:40px;
    height:40px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:22px;
}

.bottom{
    position:fixed;
    bottom:0;
    width:100%;
}

.bottom button{
    width:100%;
    border:none;
    padding:18px;
    background:#22c55e;
    color:white;
    font-size:18px;
}

.modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
}

.hidden{
    display:none;
}

.modal-content{
    background:#1e293b;
    margin:40px 10px;
    padding:20px;
    border-radius:15px;
}

.checkout{
    width:100%;
    border:none;
    padding:15px;
    margin-top:20px;
    background:#22c55e;
    color:white;
    font-size:18px;
    border-radius:10px;
}
